{{- if .Values.celeryWorker.enabled -}}
{{- range $name, $cfg := .Values.celeryWorker.queues }}
{{- if $cfg.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-worker-{{ $name }}
  namespace: {{ default (include "swirl.name" $) $.Values.namespace | quote }}
  labels:
    {{ include "common.labels" $ | nindent 4 }}
spec:
  {{- if not $cfg.autoscaling.enabled }}
  replicas: {{ $cfg.replicaCount | default 1 }}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: "celery-worker-{{ $name }}"
      app.kubernetes.io/instance: {{ $.Release.Name }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      {{- with $cfg.podAnnotations | default  $.Values.celeryWorker.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: "celery-worker-{{ $name }}"
        app.kubernetes.io/instance: {{ $.Release.Name }}
    spec:
      {{- include "swirl.imagePullSecrets" (dict "context" $) }}
      volumes:
      {{- if $.Values.swirl.configMap.envConfig.GOOGLE_APPLICATION_CREDENTIALS }}
      - name: google-credentials
        secret:
          defaultMode: 420
          items:
          - key: GOOGLE_CREDENTIALS
            path: google-credentials.json
          secretName: swirl-env-secrets
      {{- end }}
      - name: {{ printf "%s-%s" (include "swirl.name" $) "celery-worker-startup" | quote }}
        configMap:
          name: {{ printf "%s-%s" (include "swirl.name" $) "celery-worker-startup" | quote }}
      containers:
        - name: "celery-worker-{{ $name }}"
          image: "{{ $.Values.swirl.image.repository }}:{{ $.Values.swirl.image.tag | default "main" }}"
          imagePullPolicy: {{ default "Always" $.Values.swirl.image.pullPolicy | quote }}
          command: 
          {{- if $.Values.celeryWorker.command }}
            {{- with $.Values.celeryWorker.command }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- else }}
            ["/bin/bash", "/tmp/swirl-celery-worker-startup.sh"]
          {{- end }}
          livenessProbe:
            exec:
              command: {{ ($cfg.probe.liveness.execCommand | default $.Values.celeryWorker.probe.liveness.execCommand) }}
            initialDelaySeconds: {{ default 30 ($cfg.probe.liveness.initialDelaySeconds | default $.Values.celeryWorker.probe.liveness.initialDelaySeconds) }}
            periodSeconds: {{ default 15 ($cfg.probe.liveness.periodSeconds | default $.Values.celeryWorker.probe.liveness.periodSeconds) }}
            failureThreshold: {{ default 3 ($cfg.probe.liveness.failureThreshold | default $.Values.celeryWorker.probe.liveness.failureThreshold) }}
            timeoutSeconds: {{ default 30 ($cfg.probe.liveness.timeoutSeconds | default $.Values.celeryWorker.probe.liveness.timeoutSeconds) }}
          readinessProbe:
            exec:
              command: ["celery", "-A", "swirl_server", "inspect", "active"]
            initialDelaySeconds: {{ default 30 ($cfg.probe.readiness.initialDelaySeconds | default $.Values.celeryWorker.probe.readiness.initialDelaySeconds) }}
            periodSeconds: {{ default 15 ($cfg.probe.readiness.periodSeconds | default $.Values.celeryWorker.probe.readiness.periodSeconds) }}
            failureThreshold: {{ default 3 ($cfg.probe.readiness.failureThreshold | default $.Values.celeryWorker.probe.readiness.failureThreshold) }}
            timeoutSeconds: {{ default 30 ($cfg.probe.readiness.timeoutSeconds | default $.Values.celeryWorker.probe.readiness.timeoutSeconds) }}
          envFrom:
            - configMapRef:
                name: {{ printf "%s-%s" (include "swirl.name" $) "env-config" | quote }}
            - secretRef:
                name: {{ printf "%s-%s" (include "swirl.name" $) "env-secrets" | quote }}
          env:
            - name: CELERY_QUEUES
              value: {{ $cfg.queues | quote }}
          volumeMounts:
          {{- if $.Values.swirl.configMap.envConfig.GOOGLE_APPLICATION_CREDENTIALS }}
          - mountPath: /app/secrets
            name: google-credentials
            readOnly: true          
          {{- end }}          
          - name: {{ printf "%s-%s" (include "swirl.name" $) "celery-worker-startup" | quote }}
            mountPath: /tmp/
          resources:
            limits:
              cpu: {{ default $.Values.celeryWorker.resources.limits.cpu $cfg.resources.limits.cpu }}
              memory: {{ default $.Values.celeryWorker.resources.limits.memory $cfg.resources.limits.memory | quote }}
            requests:
              cpu: {{ default $.Values.celeryWorker.resources.requests.cpu $cfg.resources.requests.cpu }}
              memory: {{ default $.Values.celeryWorker.resources.requests.memory $cfg.resources.requests.memory | quote }}
{{- end }}
{{- end }}
{{- end }}

